/* Acá va tu código */
h1{
    /*estilos para títulos h1*/
  color: black(121,64,116);
  text-align:center;
  font-family: font[initial]inherit;
  
  }
  h2{
    /*estilos para títulos h2*/
    color:black (121, 64, 116);
    text-align:center;
    font-family: font[initial]inherit;
    
 }
  h3{
    /*estilos para títulos h3*/
    color: black(121, 64, 116);
    text-align:center;
    font-family: font[initial]inherit;
        
 }
  div {
  /*div genérico*/
  text-align:center;
  
 }  

  body{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  
 }

  html{
  height: 100%;
  background-color:rgb(121, 61, 119);
  }
  .contenedor{
  box-sizing: center;
  text-align: center;
  font: 120% sans-serif;
  height: 49%;
  background-color:rgb(121, 64, 116);
  margin: 1% 1%;
  border: 12 px solid;
  
  }

